{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
      <div class="card card-profile">
        <form role="form" method="post" action="" enctype="multipart/form-data">
          {% csrf_token %} 
          <div class="card-body">
            
            <div class="index-title">
              <h4 class="card-title">
                  Input Your UDI Barcode Image! 
              </h4>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button onclick="sendImage()" type = "submit" class="btn mt-3">Click me</button>
              </div>
            </div>
            
              <div class="container col-md-12">
                <div class="select-image">
                    <label for="Image" class="form-label">Select Image Please</label>
                    <input class="form-control" type="file" required id="id_file" name="file" onchange="preview()">
                </div>

                <table class="table">
                  <thead>
                    <tr>
                      <th class = "table-title" scope="col">udi value</th>
                      <th class = "table-title" scope="col">result</th>
                    </tr>
                  </thead>
                  <tbody>
                      <td id="udi">{{data}}</td>
                      <td id="result">{{msg}}</td>
                  </tbody>
                </table>
                <img id="frame" src="" class="img-fluid" />
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  function preview() {
      document.getElementById('udi').innerHTML = ""
      document.getElementById('result').innerHTML = ""
      frame.src = URL.createObjectURL(event.target.files[0]);
  }
  function sendImage() {
      if(document.getElementById('id_file').value != ""){
        frame.src = "/static/assets/img/loading.gif";
      }else{
        alert("Input Image First!!")
      }
  }
</script>
{% endblock javascripts %}
